<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vishal Traders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css')}}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!--Side Bar code-->
      <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
<!--        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">-->
<!--&lt;!&ndash;          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>&ndash;&gt;-->
<!--            <svg class="bi me-2" width="20" height="40" role="img" ><img class="mb-1"-->
<!--                    src="/static/images/vishal_taders.png" alt="" width="50" height="35"></svg>-->
<!--          <span class="fs-4">Vishal Traders</span>-->
<!--        </a>-->
          <label style="color: red; margin-left: 30px; font-family: Georgia, serif; font-size: large;">Vishal Trading Company</label>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="{{ url_for('secrets') }}" class="nav-link active" aria-current="page">

              <svg class="bi pe-none me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
              </svg>
              Home
            </a>
          </li>
          <li>
            <a href="{{ url_for('billing') }}" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              New Invoice
            </a>
          </li>
          <li>
            <a href="{{ url_for('report') }}" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Report
            </a>
          </li>
          <li>
            <a href="{{ url_for('products') }}" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Customers
            </a>
          </li>
        </ul>
        <hr>
        <a href="{{ url_for('logout') }}" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Log Out
            </a>
      </div>
<!--Sidebar code ends-->


<hr style="margin-left: 320px;">
<div class="container">
  <div class="box">
          <h3 style="text-align: center;">Products</h3>
          <label>PALM OIL: {{stock.oil['RPG']}}KG</label><br>
          <label>Available Empty Tins: {{ stock.tins_in_stock }}</label><br>
  </div>
  <div class="box">
      <form action="{{ url_for('products') }}" method="POST">
          <h3 style="text-align: center;">Update New Stock</h3>
          <label>Palm Oil: </label>
          <input name="new_stock" id="new_stock" placeholder=0 style="width: 100px;"><br>
          <label>Tins:</label>
          <input name="tins" id="tins" placeholder=0 style="width: 100px; margin-left: 30px;"><br>
          <button type="submit" class="btn-large btn-primary" name="action" style="margin-left: 67px;" value="add_products">Add to Stock</button>
      </form>
  </div>
  <div class="box">
      <form action="{{ url_for('products') }}" method="POST">
          <h6 style="text-align: center;"><b>Update Available packed Tins</b></h6>
          <label>15KG Tins: </label>
          <input name="15KG" id="15KG" placeholder=0 style="width: 100px;margin-left: 10px;"><br>
          <label>15LTR Tins: </label>
          <input name="15LTR" id="15LTR" placeholder=0 style="width: 100px; margin-left: 6px;"><br>
          <label>14.5KG Tins: </label>
          <input name="14_5KG" id="14_5KG" placeholder=0 style="width: 100px;"><br>
          <label>13KG Tins:</label>
          <input name="13KG" id="13KG" placeholder=0 style="width: 100px; margin-left: 12px;">
          <button type="submit" class="btn-large btn-primary" name="action" style="margin-left: 20px;" value="add_packed_tins">Update Tins</button>
      </form>
  </div>


</div>




</body>
</html>
