{% extends "base.html" %}
{% block content %}

<!--search box start-->
    <div class="report-search-box" style="margin-left: 80%; height: 10%; width: 20%;">
      <form action="{{ url_for('report') }}" method="POST">
        <input type="text" id="search" name="search" style="width: 50%; height: 30px;">
        <button type="submit" class="btn btn-primary btn-block btn-large" name="search" value="search"
             style="width: 30%;  height: 30px; float: right; " >Search</button>
      </form>
<!--      <a href="{{ url_for('report', reports='one_month') }}"  style="width: 120px; margin-top: 5px;" onclick="document.getElementById('postForm').submit();">Monthly Report</a>-->
      <a href="{{ url_for('report', reports='six_month') }}"  style="width: 120px; margin-top: 5px; color: black;" onclick="document.getElementById('postForm').submit();">Six Month Report</a>
    </div>
<!--search box end-->




    <div  class="chart">
        {{ chart|safe }}
    </div>
    {% for month in range(months|length): %}
    <div class="report-display">
        <h4 style="text-align: center; ">{{ months[month] }} Month Sales Report</h4>
        <hr>
        {% if monthly == "monthly": %}
        <label>Total Sales: <b> {{ totals[month] }}/- </b>Rupees || Oil Sold: <b>{{total_oil}}KG ~</b></label>
        {% else: %}
        <label>Total Sales:  {{ totals[month] }}/- Rupees</label>
        {% endif %}
        <hr>
        <div class="purchased_cust_list" style="width: 49%; ">
            <label>Customers List Who made a business </label>
            <ol>
                {% for cust in cust_list[month]: %}
                <li>{{cust}}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="missed_cust_list" style="width: 50%;">
            <label>Customers Who missed This Month</label>
            <ol>
                {% for cust in missed_cust_list[month]: %}
                <li>{{cust}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% endfor %}





{% if monthly == "monthly": %}
    <div class="report-display" style="width: 60%;">

        <div class="table-responsive">
    <table class="table table-flush align-middle mb-0">
      <thead>
        <tr><th class="fs-sm">Customer Name</th>
        <th class="fs-sm">Status</th>
        <th class="fs-sm">Total Amount</th>
        <th class="fs-sm">Date</th>
      </tr></thead>
      <tbody>
      {% for invoice in monthly_invoices: %}
        <tr>
            <td>
            <div class="d-flex align-items-center">
              <a href="{{ url_for('invoice_details', invoice_no=invoice.invoice_no) }}">{{ invoice.invoice_no }}</a>
              <div class="ms-4">
                <div>{{ invoice.customer_details['customer_name'] }}</div>

              </div>
            </div>
            </td>
            <td>
                {% if invoice.total_amount['status']  == 'pending' %}
                    <span class="badge bg-danger-subtle text-danger">{{ invoice.total_amount['status'] }}</span>
                {% else %}
                    <span class="badge bg-success-subtle text-success">{{ invoice.total_amount['status'] }}</span>
                {% endif %}
          </td>
            <td>
                <label>{{ invoice.total_amount['overall_amount'] }}</label>
            </td>
          <td>
            {{ invoice.date }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>


    </div>
{% endif %}



{% endblock %}